@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  overflow: hidden;
}

/* Burger menu transition */
.burger {
  width: 25px;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #91a884;
  position: relative;
  transition: all 1s cubic-bezier(0.75, 0, 0.24, 1);
}

.burger::before {
  bottom: -14px;
}

.burger::after {
  bottom: -5px;
}

.burger-active::before {
  bottom: -12px;
  transform: rotate(45deg);
}

.burger-active::after {
  bottom: -10px;
  transform: rotate(-45deg);
}

/* video arrow transition */

.arrow:hover svg {
  transform: translateX(4px);
}

/* custome shadow */

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* 404 styling */

.error {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 60%;
}
.error svg {
  display: block;
  width: 100%;
  height: auto;
  fill: #fff;
}

.links {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
}
.links a {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.links a:hover {
  background-color: #fff;
  color: #34559a;
  text-decoration: none;
}

input[type='password'] {
  letter-spacing: 0.3em;
  color: #6b8c58;
}

.text-rotate {
  letter-spacing: 3px;

  transform-origin: 0 0;
  transform: rotate(270deg);
}

/* glitch */

.text {
  color: #36ba2c;
  font-size: 24px;
  padding: 0 4px;
  display: inline-block;
  text-shadow: 0px 0px 8px #79ba48;
}

.container {
  background: #ebece8;
  background: radial-gradient(ellipse at center, #ebece8 0%, #cccec7 100%);
  background-attachment: fixed;
  position: absolute;
  top: 64px;
  left: 64px;
  right: 64px;
  bottom: 64px;
  padding: 64px;
  overflow: hidden;
}

.container:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.container:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  box-shadow: inset 0px 0px 32px 16px rgba(255, 255, 255, 0.4);
  z-index: 2;
  border-radius: 24px;
}

.inner-container:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(http://i.imgur.com/VXcVUTX.png);
  border-radius: 24px;
}

.err-code {
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 128px;
  padding: 0 4px;
}

.buzz {
  color: #6b8c58;
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.blip {
  animation: blink 1.5s steps(5, start) infinite;
}

@keyframes noise-anim {
  0% {
    clip: rect(59px, 9999px, 44px, 0);
  }
  3.3333333333% {
    clip: rect(100px, 9999px, 195px, 0);
  }
  6.6666666667% {
    clip: rect(81px, 9999px, 178px, 0);
  }
  10% {
    clip: rect(20px, 9999px, 121px, 0);
  }
  13.3333333333% {
    clip: rect(7px, 9999px, 35px, 0);
  }
  16.6666666667% {
    clip: rect(1px, 9999px, 63px, 0);
  }
  20% {
    clip: rect(12px, 9999px, 167px, 0);
  }
  23.3333333333% {
    clip: rect(76px, 9999px, 175px, 0);
  }
  26.6666666667% {
    clip: rect(91px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(20px, 9999px, 93px, 0);
  }
  33.3333333333% {
    clip: rect(89px, 9999px, 66px, 0);
  }
  36.6666666667% {
    clip: rect(49px, 9999px, 26px, 0);
  }
  40% {
    clip: rect(72px, 9999px, 136px, 0);
  }
  43.3333333333% {
    clip: rect(57px, 9999px, 79px, 0);
  }
  46.6666666667% {
    clip: rect(40px, 9999px, 198px, 0);
  }
  50% {
    clip: rect(24px, 9999px, 88px, 0);
  }
  53.3333333333% {
    clip: rect(65px, 9999px, 32px, 0);
  }
  56.6666666667% {
    clip: rect(90px, 9999px, 183px, 0);
  }
  60% {
    clip: rect(13px, 9999px, 41px, 0);
  }
  63.3333333333% {
    clip: rect(20px, 9999px, 132px, 0);
  }
  66.6666666667% {
    clip: rect(48px, 9999px, 170px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 26px, 0);
  }
  73.3333333333% {
    clip: rect(13px, 9999px, 27px, 0);
  }
  76.6666666667% {
    clip: rect(83px, 9999px, 105px, 0);
  }
  80% {
    clip: rect(14px, 9999px, 130px, 0);
  }
  83.3333333333% {
    clip: rect(65px, 9999px, 97px, 0);
  }
  86.6666666667% {
    clip: rect(2px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 26px, 0);
  }
  93.3333333333% {
    clip: rect(44px, 9999px, 95px, 0);
  }
  96.6666666667% {
    clip: rect(13px, 9999px, 116px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 143px, 0);
  }
}
.buzz:after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  top: 0;
  background: radial-gradient(ellipse at center, #ebece8 0%, #f9f9f6 100%);
  background-attachment: fixed;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(58px, 9999px, 20px, 0);
  }
  3.3333333333% {
    clip: rect(53px, 9999px, 125px, 0);
  }
  6.6666666667% {
    clip: rect(58px, 9999px, 129px, 0);
  }
  10% {
    clip: rect(42px, 9999px, 141px, 0);
  }
  13.3333333333% {
    clip: rect(68px, 9999px, 38px, 0);
  }
  16.6666666667% {
    clip: rect(59px, 9999px, 17px, 0);
  }
  20% {
    clip: rect(77px, 9999px, 136px, 0);
  }
  23.3333333333% {
    clip: rect(47px, 9999px, 58px, 0);
  }
  26.6666666667% {
    clip: rect(8px, 9999px, 14px, 0);
  }
  30% {
    clip: rect(51px, 9999px, 31px, 0);
  }
  33.3333333333% {
    clip: rect(11px, 9999px, 9px, 0);
  }
  36.6666666667% {
    clip: rect(66px, 9999px, 116px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 13px, 0);
  }
  43.3333333333% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  46.6666666667% {
    clip: rect(61px, 9999px, 71px, 0);
  }
  50% {
    clip: rect(49px, 9999px, 57px, 0);
  }
  53.3333333333% {
    clip: rect(43px, 9999px, 51px, 0);
  }
  56.6666666667% {
    clip: rect(28px, 9999px, 66px, 0);
  }
  60% {
    clip: rect(33px, 9999px, 71px, 0);
  }
  63.3333333333% {
    clip: rect(77px, 9999px, 133px, 0);
  }
  66.6666666667% {
    clip: rect(25px, 9999px, 37px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 79px, 0);
  }
  73.3333333333% {
    clip: rect(80px, 9999px, 16px, 0);
  }
  76.6666666667% {
    clip: rect(47px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 75px, 0);
  }
  83.3333333333% {
    clip: rect(15px, 9999px, 73px, 0);
  }
  86.6666666667% {
    clip: rect(37px, 9999px, 124px, 0);
  }
  90% {
    clip: rect(12px, 9999px, 45px, 0);
  }
  93.3333333333% {
    clip: rect(66px, 9999px, 2px, 0);
  }
  96.6666666667% {
    clip: rect(20px, 9999px, 6px, 0);
  }
  100% {
    clip: rect(59px, 9999px, 16px, 0);
  }
}
.buzz:before {
  content: attr(data-text);
  position: absolute;
  left: -3px;
  top: 0;
  padding: 0 4px;
  background: radial-gradient(ellipse at center, #ebece8 0%, #ebece8 100%);
  background-attachment: fixed;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
