@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: initial;
  overflow: hidden;
}

/* Burger menu transition */
.burger {
  width: 25px;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #91a884;
  position: relative;
  transition: all 1s cubic-bezier(0.75, 0, 0.24, 1);
}

.burger::before {
  bottom: -14px;
}

.burger::after {
  bottom: -6px;
}

.burger-active::before {
  bottom: -12px;
  transform: rotate(45deg);
}

.burger-active::after {
  bottom: -10px;
  transform: rotate(-45deg);
}

/* video arrow transition */

.arrow:hover svg {
  transform: translateX(4px);
}

/* custom scroll */
/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #91a884;
  border-radius: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

::-webkit-scrollbar-track {
  background-color: #111923;
}

::-webkit-scrollbar-track:hover {
  background-color: #0a0d11;
} */

/* 404 styling */

.error {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 60%;
}
.error svg {
  display: block;
  width: 100%;
  height: auto;
  fill: #fff;
}

.links {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
}
.links a {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.links a:hover {
  background-color: #fff;
  color: #34559a;
  text-decoration: none;
}
